* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

color: slateblue ;}
body {
    padding: 3em;

background-color: #ffffff;
opacity: 0.8;
background-image:  linear-gradient(30deg, #f2f2ff 12%, transparent 12.5%, transparent 87%, #f2f2ff 87.5%, #f2f2ff), linear-gradient(150deg, #f2f2ff 12%, transparent 12.5%, transparent 87%, #f2f2ff 87.5%, #f2f2ff), linear-gradient(30deg, #f2f2ff 12%, transparent 12.5%, transparent 87%, #f2f2ff 87.5%, #f2f2ff), linear-gradient(150deg, #f2f2ff 12%, transparent 12.5%, transparent 87%, #f2f2ff 87.5%, #f2f2ff), linear-gradient(60deg, #f2f2ff77 25%, transparent 25.5%, transparent 75%, #f2f2ff77 75%, #f2f2ff77), linear-gradient(60deg, #f2f2ff77 25%, transparent 25.5%, transparent 75%, #f2f2ff77 75%, #f2f2ff77);
background-size: 20px 35px;
background-position: 0 0, 0 0, 10px 18px, 10px 18px, 0 0, 10px 18px;}
img,video{
    border-radius:16px;
    margin: auto; 
    display:block;
    max-width: 25em;
}
section {
    background-color: white;
    padding:2em ;
    filter: drop-shadow(5px 5px 10px #00000066);
    border-radius:16px ;
}
    html{
        scroll-behavior: smooth;
    }